= form_for @user do |f|
	%label Email
	=f.text_field :email, :class=> 'input.input-xlarge', :placeholder => "email address", :type => "text"
	%label Captation for the images (can include HTML)
	=f.text_area :captation, :placeholder => "optional"
	%label Place a click through link for the images 
	=f.text_field :link, :class=> 'input.input-xlarge', :placeholder => "optional", :type => "text"
	%label Tags (comma separated)
	=f.text_field :tags, :class=> 'input.input-xlarge', :placeholder => "optional", :type => "text"
	%label
	%br
	%button.btn.btn-success.btn-large{:type => "submit"} Submit