.container
  .page-header
    %h1 All Done
  %p.lead Thank you for waiting.
  %p
  .row
  .hero-unit
    %p
      All your images have been uploaded to your 
      %a{:href => "http://tumblr.com", :target => '_blank'}Tumblr 
      queue with the captation, link and tags inputed by you.
      %br/
      If you had any trouble please contact us.
      %br/
      Thank you for using TmblrBot, we hope you come back soon.
    %p
