.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "#"} TmblrBot
      .navbar-content
        %ul.nav
          %li
            %a{:href => "#"} Upload
          %li
            %a{:href => "#"} About
      .btn-group.pull-right
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Account 
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} First Link
          %li
            %a{:href => "#"} Second Link
          %li
            %a{:href => "#"} Third Link
.container
  .page-header
    %h1 Upload
  %p.lead Upload up to 100 images to your Tumblr queue
  .well
    %br/
    = render 'form'
  %p
  .row
  %p.pull-right.muted You can always contact us at email@email.com


